.main_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  margin-bottom: 40px;
}
.list {
  display: flex;
  list-style-type: none;
  gap: 20px;
}
